/*-- scss:defaults --*/
/*
$font-family-sans-serif: cabrito_sans_norm_regular;
$presentation-heading-font: cabrito_sans_norm_regular;
$presentation-heading-color:  #00263A;
$presentation-heading-text-transform: uppercase;
$presentation-heading-font-weight: 500;
$link-color: #98579B;
--*/
// custom variables
$main-color: #ffffff;

//$theme-blue: #209cee;
//$body-bg: $main-color;
//$body-color: white;    


/*-- scss:rules --*/
//.blue {
//  color: $theme-blue;
//}

.custom-title {
  .slide-background-content {
      background-image: url("https://github.com/sebastiandresworkshop_better_presentations/blob/main/style/custom_title_16x9.png?raw=true") !important;
      background-position: center !important;
      background-size: contain !important;
      opacity: 0.60 !important;
      background-color: $main-color !important;
      color: white !important;   
      }
}

.custom-section {
  .slide-background-content {
    background-image: url("https://github.com/sebastiandres/workshop_better_presentations/blob/main/style/custom_section_16x9.png?raw=true") !important;
    background-position: left !important;
    background-size: contain !important;
    opacity: 0.25 !important;
    background-color: $main-color !important;
    color: white !important;   
  }
}

.custom-slide {
  .slide-background-content {
    background-image: url("https://github.com/sebastiandres/workshop_better_presentations/blob/main/style/custom_slide_16x9.png?raw=true") !important;
    background-position: left !important;
    background-size: contain !important;
    opacity: 0.30 !important;
    background-color: $main-color !important;
    color: white !important;   
  }
}

.questions-slide {
  .slide-background-content {
    background-image: url("https://github.com/sebastiandres/workshop_better_presentations/blob/main/style/questions_slide_16x9.png?raw=true") !important;
    background-position: left !important;
    background-size: contain !important;
    opacity: 0.30 !important;
    background-color: $main-color !important;
    color: white !important;   
  }
}